<div class="container-xl bg-light text-black">
  <div class="content-header p-5">
    <div class="alert-alert"><%= render 'shared/flash' %></div>
    <% if current_admin.present? %>
      <ul class="nav">
        <li class="nav-item">
          <a href="<%= root_path %>" class="p-3"><i class="fa fa-ban fa-fw pull-right"></i>Home</a>
        </li>
        <li class="nav-item">
          <a href="<%= candidates_path %>" class="p-3"><i class="fa fa-ban fa-fw pull-right"></i>Candidates</a>
        </li>
        <li class="nav-item">
          <a href="<%= destroy_admin_session_path %>" class="p-3"><i class="fa fa-ban fa-fw pull-right"></i>Logout</a>
        </li>
      </ul>
    <% end %>
    <div class="header-section">
      <h1 class="text-center my-5 heading">Global Testing</h1>
    </div>
  </div>
</div>